@use "./components/first__section";
@use "./components/first_title";
@use "./components/header";
@use "./components/first__buttons.scss";
@use "./components/first__imgs.scss";
@import "./utils/mixins";
@import "./utils/variables";
@import "./components/second_section";
@import "./components/footer.scss";
@import "./components/third_section";
@import "./components/seccion4";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
