<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/main.min.css" />
  </head>
  <body>
    <section class="first">
      <header>
        <div class="header">
          <img
            class="header__logo"
            src="../images/SECCION 1/Group.png"
            alt="logo"
          />
          <nav>
            <ul class="header__menu">
              <li class="header__item">Home</li>
              <li class="header__item">About us</li>
              <li class="header__item">How it´s made?</li>
              <li class="header__item">Our Products</li>
              <li class="header__item">Contact</li>
            </ul>
          </nav>
          <button type="button" class="header__button">Buy now ></button>
        </div>
      </header>
      <h1 class="first__title">
        ICE CREAM
        <br />
        MADE WITH
        <br />
        <span class="first__title-color">PASSION</span>
      </h1>
      <div class="first__button">
        <button type="button" class="first__button-products">Products</button>
        <button type="button" class="first__button-how">How it’s made?</button>
      </div>
      <div class="first__img-milk">
        <ul class="ul-milk">
          <li>
            <img src="../images/SECCION 1/slider-pic5 1.png" alt="milk" /> 
          </li>
          <li>
            <img src="/images/SECCION 1/Ellipse 3.png" alt="">
          </li>
        </ul>
        </div>
      </div>  
    </section>
    <main>
    </main>
    <!-- Contenido footer -->
    <footer class="footer">
      <section class="seccion">
        <div class="cards">
          <div class="card">
            <button class="card__button card__button--one">Cafe</button>
            <div>
              <span class="titulos">Chicago</span>
              <p class="lorem">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              <hr>
              <div>
                <p class="dias">Monday - Friday</p>
                <p class="hora">06:00 AM -16:00 PM</p>

                <p class="dias">Saturday - Sunday</p>
                <p class="hora hora--hr">08:00 AM - 16:00 PM</p>
              </div>
              <hr>
              <div>
                <address>
                  <ul>
                    <li>
                      <a class="numero" href=""> 
                        +61(0) 383 766 284
                      </a>
                    </li>
                    <li>
                      <a class="numero" href="">
                        noreply@envato.com
                      </a>
                    </li>
                  </ul>
                </address>
              </div>
            </div>
          </div>
          <!-- --------------------------------- -->
          <div class="card">
            <button class="card__button card__button--two">Food Truck</button>
            <div>
              <span class="titulos">Los Angeles</span>
              <p class="lorem">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              <hr>
              <div>
                <p class="dias">Monday - Friday</p>
                <p class="hora">06:00 AM -16:00 PM</p>

                <p class="dias">Saturday - Sunday</p>
                <p class="hora hora--hr">08:00 AM - 16:00 PM</p>
              </div>
              <hr>
              <div>
                <address>
                  <ul>
                    <li>
                      <a  class="numero" href=""> 
                        +61(0) 383 766 284
                      </a>
                    </li>
                    <li>
                      <a class="numero" href="">
                        noreply@envato.com
                      </a>
                    </li>
                  </ul>
                </address>
              </div>
            </div>
          </div>
          <!-- ----------------- -->
          <div class="card">
            <button class="card__button card__button--tree">Cafe</button>
            <div>
              <span class="titulos">New York</span>
              <p class="lorem">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
              <hr>
              <div>
                <p class="dias">Monday - Friday</p>
                <p class="hora">06:00 AM -16:00 PM</p>

                <p class="dias">Saturday - Sunday</p>
                <p class="hora hora--hr">08:00 AM - 16:00 PM</p>
              </div>
              <hr>
              <div>
                <address>
                  <ul>
                    <li>
                      <a class="numero" href=""> 
                        +61(0) 383 766 284
                      </a>
                    </li>
                    <li>
                      <a class="numero" href="">
                        noreply@envato.com
                      </a>
                    </li>
                  </ul>
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="botones">
          <button class="locacion">Our Locations</button>
          <button class="francisco">Franchise</button>
        </div>
        <div>
          <p>homemade ice cream made with passion</p>
        </div>
      </section>
      </div>
    </footer>
  </body>
</html>
