<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../css/main.min.css" />
  </head>
  <body>
    <section class="first">
      <header>
        <div class="header">
          <img
            class="header__logo"
            src="../images/SECCION 1/Group.png"
            alt="logo"
          />
          <nav>
            <ul class="header__menu">
              <li class="header__item">Home</li>
              <li class="header__item">About us</li>
              <li class="header__item">How it´s made?</li>
              <li class="header__item">Our Products</li>
              <li class="header__item">Contact</li>
            </ul>
          </nav>
          <button type="button" class="header__button">Buy now ></button>
        </div>
      </header>
      <h1 class="first__title">
        ICE CREAM
        <br />
        MADE WITH
        <br />
        <span class="first__title-color">PASSION</span>
      </h1>
      <div class="first__button">
        <button type="button" class="first__button-products">Products</button>
        <button type="button" class="first__button-how">How it’s made?</button>
      </div>
      <div class="first__img-milk">
        <img src="../images/SECCION 1/slider-pic5 1.png" alt="milk" /> 
        </div>
      </div>
      <div class="imagen-elipse">
        <img src="/images/SECCION 1/Ellipse 3.png" alt="">
      </div>
    </section>  
    <!-------------------------------- seccion 2 ---------------------------->
    <main>
      <section class="second">
        <h2 class="second__t-natural">100% natural</h2>
        <h2 class="second__t-products">products</h2>
        <div class="second__container-cards">
          <!-- card-one -->
          <img class="second__pic-one" src="../images/SECCION 2/home-pic1.png" alt="helado">
            <div class="second__card-one">
            <h2 class="second__t-ice-cream">ice cream</h2>
            <a href="#">
            <svg class="icon"width="20" height="20" >
            <use href="../images/SVG/sprite-sheet.svg#punto"></use>
            </svg>
            </a>
            <p class="second__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <img class="second__img-arrow" src="../images/SECCION 2/arrow-right 2.png" alt="flecha">
            </div>
            <!-- card-two -->
            <img class="second__pic-two" src="../images/SECCION 2/home-pic2.png" alt="malteada">
            <div class="second__card-two">
            <h2 class="second__t-ice-coffee">ice coffee</h2>
            <a href="#">
            <svg class="icon"width="20" height="20" >
            <use href="../images/SVG/sprite-sheet.svg#punto"></use>
            </svg>
            </a>
            <p class="second__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <img class="second__img-arrow" src="../images/SECCION 2/arrow-right 2.png" alt="flecha">
            </div>

            <!-- card-three -->
            <img class="second__pic-three" src="../images/SECCION 2/home-pic3.png" alt="malteada">
            <div class="second__card-three">
              <h2 class="second__t-ice-coffee">milkshakes</h2>
              <a href="#">
              <svg class="icon"width="20" height="20" >
              <use href="../images/SVG/sprite-sheet.svg#punto"></use>
              </svg>
              </a>
              <p class="second__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
              <img class="second__img-arrow" src="../images/SECCION 2/arrow-right 2.png" alt="flecha">
            </div>
            


        </div>
          
      </section>
    </main>
      
    
  </body>
</html>
