<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Titan+One&display=swap" rel="stylesheet" />

  <link rel="stylesheet" href="../css/main.min.css" />
</head>

<body>
  <section class="first">
    <header>
      <div class="header">
        <img class="header__logo" src="../images/SECCION 1/Group.png" alt="logo" />
        <nav>
          <ul class="header__menu">
            <li class="header__item">Home</li>
            <li class="header__item">About us</li>
            <li class="header__item">How it´s made?</li>
            <li class="header__item">Our Products</li>
            <li class="header__item">Contact</li>
          </ul>
        </nav>
        <button type="button" class="header__button">Buy now ></button>
      </div>
    </header>
    <h1 class="first__title">
      ICE CREAM
      <br />
      MADE WITH
      <br />
      <span class="first__title-color">PASSION</span>
    </h1>
    <div class="first__button">
      <button type="button" class="first__button-products">Products</button>
      <button type="button" class="first__button-how">How it’s made?</button>
    </div>
    <div class="first__img-milk">
      <img src="../images/SECCION 1/slider-pic5 1.png" alt="milk" />
    </div>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni fugiat consequuntur explicabo distinctio deleniti
      nisi.
    </div>
    <div class="imagen-elipse">
      <img src="/images/SECCION 1/Ellipse 3.png" alt="">
    </div>
    <main>


      <!-------------------------------- seccion 2 ---------------------------->
      <section>
        <div>
          <h2>100% natural</h2>
          <h1>products</h1>
          <ul class="seccion2">
            <li class="item1">
              <div>
                <img src="/images/SECCION 2/home-pic1.png" alt="imagen_3" width="360" />

                <h2>ice cream</h2>
                <ul class="puntos">
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor aliquam error fugit fugiat eaque
                  qui, est doloribus sit! Error, ullam expedita magnam id sed mollitia modi molestias iusto facere
                  quidem.</p>
                <img src="/images/SECCION 2/arrow-right 4.png" alt="imagen_3" width="360" />
              </div>
            </li>
            <li class="item2">
              <div>
                <img src="/images/SECCION 2/home-pic2.png" alt="imagen_3" width="360" />

                <h2>ice coffee</h2>

                <ul class="puntos">
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor aliquam error fugit fugiat eaque
                  qui, est doloribus sit! Error, ullam expedita magnam id sed mollitia modi molestias iusto facere
                  quidem.</p>
                <img src="/images/SECCION 2/arrow-right 4.png" alt="imagen_3" width="360" />
              </div>
            </li>

            <li>
              <div>
                <img src="/images/SECCION 2/home-pic3.png" alt="imagen_3" width="360" />

                <h2>milkshakes</h2>
                <ul class="puntos">
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <svg class="icon" width="20" height="20">
                        <use href="/images/SVG/sprite-sheet.svg#punto"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
                <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor aliquam error fugit fugiat eaque
                  qui, est doloribus sit! Error, ullam expedita magnam id sed mollitia modi molestias iusto facere
                  quidem.</p>
                <img src="/images/SECCION 2/arrow-right 4.png" alt="imagen_3" width="360" />

              </div>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <!-------------------------------- seccion 4 ---------------------------->

    <section class="container4">

      <div class="collage">
        <img src="/images/SECCION 4/img-seccion-4.png" alt="imagecollage" width="1013px">
      </div>

      <div class="testimonial">
        <img src="/images/SECCION 4/testimonials.png" alt="foto" width="85px">
      </div>

      <div class="contenedorletra">
        <a class="fondo">
          <img src="/images/SECCION 4/fondo.png" alt="fondo">
        </a>
        <a class="item" href="#">
          <svg class="icon">
            <use href="/images/SECCION 4/SVG/sprite.svg#icon-entrecomillas"></use>
          </svg>
        </a>
        <a class="lineas" href="#">
          <svg class="linea1">
            <use href="/images/SECCION 4/SVG/sprite.svg#icon-linea1"></use>
          </svg>
        </a>
        <a class="lineas" href="#">
          <svg class="linea2">
            <use href="/images/SECCION 4/SVG/sprite.svg#icon-linea2"></use>
          </svg>
        </a>
        <p class="descripcion"> Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
          hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>

        <div class="puntos">
          <img src="/images/SECCION 4/puntos.png" alt="suspensivos">
        </div>

        <div>
          <h3 class="emily">Emily, Los Angeles</h3>
        </div>

        <div class="contenedor2">
          <div class="botones">
            <a href="#">
              <svg class="boton">
                <use href="/images/SECCION 4/SVG/sprite.svg#icon-home" width="12px"></use>
              </svg>
            </a>
          </div>
          <div class="botones">
            <a href="#">
              <svg class="boton">
                <use href="/images/SECCION 4/SVG/sprite.svg#icon-Ellipse1" width="12px"></use>
              </svg>
            </a>
          </div>
          <div class="botones">
            <a href="#">
              <svg class="boton">
                <use href="/images/SECCION 4/SVG/sprite.svg#icon-Ellipse2" width="12px"></use>
              </svg>
            </a>
          </div>
        </div>
    </section>
</body>

</html>