@import "../utils/mixins";
@import "../utils/variables";

.header{
    
    display: flex;
    justify-content: space-between;
    


    &__menu {
        list-style: none;
        display: flex;
        gap:35px;
        justify-content: center;
        
        
    }

    &__item{
        color:$third-text-color;
        @include font-DM;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        margin-top: 54px;
        z-index: 5;
        
    }
    &__item:hover{
        color:$main-text-color;
    }
    &__logo{
        margin-top: 44px;
        margin-left: 20px;
    }
    &__button{
        
            width: 159px;
            height: 44px;
            background: #FFFFFF;
            border-radius: 22px;
            @include font-DM;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 21px;
            align-items: center;
            text-align: center;
            color:$main-text-color;
            margin-top: 35px;
            margin-right: 10px;
            border: 0;
            cursor: pointer;
            }
    &__button:hover {
    background-color: $fifth-background-color;
    }        
}

