@import "../utils/mixins";
@import "../utils/variables";

.third__container-contents{
    background: url(/images/SVG/cow.png);
    background-repeat: no-repeat;
    // width: 100vw;
}
.third {
    background: $third-background-color;
    @media screen and (min-width: 320px) {
      max-width: 390px;
    }
    @media screen and (min-width: 768px) {
      padding-left: 34px;
      padding-right: 34px;
      max-width: 768px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 115px;
      padding-right: 115px;
      max-width: 1280px;
    }
    
    &__h3{
        @include title-pink;
        padding-top: 30px;
         @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
    }
    &__h2{
     @include title-redwine;
     margin-top: 16px;
     @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
    }

  
  &__container-contents {
      display: flex;
      justify-content: space-evenly;
       @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 17px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 74px;
  }
  }
  
  &__container-contents &__content-texts {
      width: 48%;
  }

  &__tittle-info {
      display: inline-block;
      font-size: 58px;
      text-align: center;
      margin-bottom: 16px;
      font-family: 'Titan One';
      text-align: center;
      color:$main-text-color;
      letter-spacing: 0.04em

}

&__tittle-info {
    display: inline-block;
    font-size: 58px;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Titan One';
    text-align: center;
    color:$main-text-color;
    letter-spacing: 0.04em;


}
&__p-one {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    color: #000000;
    text-align: justify;
    // @include Font-ff-fw-lh-fs-c($main-font, 500, 1.58, 12px, $black-color-text);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
&__content-texts &__p-one {

    margin-top: 90px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 176%;
    letter-spacing: 0.04em;
     @media screen and (min-width: 768px) {
    width: 48.7%;
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
  }
  @media screen and (min-width: 1280px) {
    width: 43.9%;
  }

}
&__botton {
    margin-top: 50px;
    margin-right: 599px;
    background-color: $third-text-color;
    color:$main-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 176px;
    height: 44px;
    left: 616px;
    top: 2349px;
    border-radius: 22px;
    border: 0;
    cursor: pointer;
}
&__botton:hover{
    background-color:$fifth-background-color;
    
}

&__container-info {
    display: flex;
    gap: 100px;
    margin-top: 211px;
    padding-bottom: 121px;
    margin-left: 16px;
}
&__content-foo {
    margin-top: 50px;
}
&__p-two{
        margin-top: 32px;
        text-align: justify;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 194%;
        letter-spacing: 0.04em;
        color: $fifth-text-color;
        @media screen and (min-width: 1280px) {
    margin-bottom: 20px;
  }
        }

&__content-foo {
    margin-top: 50px;
} 
&__p-info {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    color: #000000;
}
 
}
.icons-svg-seccion-three{
    display: block;
}









