@import "../utils/mixins";
@import "../utils/variables";

.first__img-milk{
    
    margin-top: 40px;
    margin-left: 16px;
    display: flex;
    
}
.imagen-elipse{
    display: flex;
    justify-content: end;
}
