@import "../utils/mixins";
@import "../utils/variables";

.first__button{
    margin-left: 20px;

    &-products{
        // button
        width: 107px;
        height: 40px;
        left: 16px;
        margin-top: 24px;
        background-color:$fourth-background-color;
        border-radius: 20px;
        border:0;
        cursor: pointer;

        // text
            @include font-DM;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: $third-text-color;
    }
    &-how{
    width: 138px;
    height: 40px;
    left: 135px;
    top: 308px;
    border: 0;
    background: #FFFFFF;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;

    // text
       @include font-DM;
       font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #D41443;
    }
    &-how:hover{
        background-color: $fifth-background-color;
    }
}