@import "../utils/mixins";
@import "../utils/variables";

.box__milk{
    position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    flex-direction: row;
    width: 500px;
    
}

.first__img-milk{
    position: absolute;
    top: 60px;
    left: 30px;
    display: flex;  
}
.text__description{
    position: absolute;
    top: 470px;
    left: 250px;
    width: 220px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
}
.box__svg{
    position: absolute;
    width: 200px;
    top: 570px;
    left: 250px;
}

.imagen-elipse{
    position: absolute;
    top: 54px;
    left:700px;
    z-index: 1;
}
.image__cream{
    position: absolute;
    top: 108px;
    left: 800px;z-index: 7;   
}
.images__tasty{
    position: absolute;
    top: 423px;
    left: 1100px;
    z-index: 7;
}
.box__svg{
    display: inline-block;
}
.arrow__svg{
    width: 20px;
    height: 20px;
}

.cafes{
    position: absolute;
    top: 156px;
    right: 50px;
    width: 100px;
    height: 100px;
}
.cafes .number{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    z-index: 2;
}
.cafes .letter{ 
    position: absolute;
    top: 65px;
    left: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
}
.cafes img{
    position: absolute;
    top: 6px;
    left: 50px;
    z-index: 1;
}
.food__trucks{
    position: absolute;
    top: 247px;
    right: 50px;
    width: 100px;
    height: 100px;
}
.food__trucks .number{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    z-index: 2;
}
.food__trucks .letter{ 
    position: absolute;
    top: 65px;
    left: -25px;
    width: inherit;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    color: #FFFFFF;
}
.food__trucks img{
    position: absolute;
    top: 6px;
    left: 50px;
    z-index: 1;
}
