@import "../utils/mixins";
@import "../utils/variables";

//Seccion footer
.footer{
    background-color: #212121;
}
.footer .seccion{
    background-color: #fff5f6;
    width: 100%;
    height: 877px;
}
.helado{
    color: aqua;
}
.sobelo{
    color: aqua;
}
// tarjetas
.cards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 16px 0 16px;

}

.card{
    width: 368px;
    padding: 40px;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    background-color: #fff;
}
.hr{
width: 100%;
height: 8px;
color:brown;
}
// botones
.card__button{
border-radius: 6px;
border-style: none;
}

.card__button--one{
width: 75.1px;
height: 28px;
left: 56px;
top: 3917px;
background: #F0D1A5;
border-radius: 6px;
margin-bottom: 32px;
}
.card__button--two{
    width: 138px;
    height: 28px;
    left: 456px;
    top: 3917px;
    background: #C2E297;
    margin-bottom: 32px;
}
.card__button--tree{
width: 73px;
height: 28px;
// left: 856px;
// top: 3917px;
background: #F0D1A5;
margin-bottom: 32px;
}
.titulos{

   font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 186%;
/* identical to box height, or 30px */

letter-spacing: 0.04em;

color: #000000;
}
.lorem{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 183%;
/* or 29px */

letter-spacing: 0.04em;

color: #907E82;
margin-bottom: 32px;
}
.dias{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 186%;
/* identical to box height, or 30px */

letter-spacing: 0.04em;

color: #000000;

}
.hora{
    margin-bottom: 12px;
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
// line-height: 186%;
/* identical to box height, or 30px */


color: #FFA5BA;
}
.hora--hr{
    margin-bottom: 32px;
}
.numero{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 183%;
/* or 29px */
color: #907E82;
}
address{
    margin-top: 32px;
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 12px;
}
.locacion{
    // position: absolute;
    width: 198px;
    height: 44px;
    left: 411px;
    top: 4475px;
    border-style: none;
    background: #D41342;
    border-radius: 22px;
}
.francisco{
    width: 168px;
    height: 44px;
    left: 621px;
    top: 4476px;
    border-style: none;
    background: #FFFFFF;
    border-radius: 22px;
}
// contactos


// Div derechos reservados