@mixin font-DM{
    font-family: 'DM Sans', sans-serif;
    }
    @mixin font-Titan{
    font-family: 'Titan One', cursive;
    }


@mixin flex ($align, $display, $justify){
    align-items: $align;
    display: $display;
    justify-content: $justify;
}

@mixin text ($height, $weight, $size, $spacing){
    line-height: $height;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
}
@mixin title-pink{
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFA5BA;
}
@mixin title-redwine{
    font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 66px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #D41443;
}

@mixin title-ice-cream-ice-coffee-milkshakes{
    font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 120px;
}