@mixin font-DM{
    font-family: 'DM Sans', sans-serif;
    }
    @mixin font-Titan{
    font-family: 'Titan One', cursive;
    }


@mixin flex ($align, $display, $justify){
    align-items: $align;
    display: $display;
    justify-content: $justify;
}

@mixin text ($height, $weight, $size, $spacing){
    line-height: $height;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
}
